.card-container {
  display: flex;
  flex-direction: column;
  margin: 35px 50px;
  max-width: 60%;
}

.card-header {
  display: flex;
  align-items: center;
}
.avatar {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background-image: url('https://vignette.wikia.nocookie.net/superman/images/0/0a/Clarkkent-secretorigin.jpg/revision/latest/scale-to-width-down/340?cb=20100916050519');
  background-size: cover;
  margin-right: 25px;
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
    color: lightgrey;
    font-style: italic;
  }
}

.card-body {
 text-align: left;
 margin-top: 25px;
 h3 {
   font-size: 22px;
 }
}
